.sidenav-container {
  height: 100%;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.text-align-center {
  text-align: center;
}

.width-full {
  width: 100%;
}

.padding-top {
  padding-top: 16px;
}